nav{
    background:black;
    position: absolute;
    left:  0%;
    top: 120px;
    width: 100%; 
    padding: 0px;
            
}

.dropdown{
    display: inline-block;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.dropdown:hover{
    display: inline-block;
    background-color: turquoise;
    color: black;
}

.dropdown div{
    position: absolute;
    display: none;
}

.dropdown div a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid turquoise;
    background-color: black;
    width: 100%;
}

.dropdown div a:hover{
    background-color: turquoise;
    color: black;
}

.dropdown:hover div{
    display: block;
}
        