ul{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

nav{
    background:black;
    width: 100%;
    margin: 0;
    padding: 0;  
}


.dropdown{
    float: left;
    display: inline-block;
}

.dropdown:hover a.dropdownbtn{
    background-color: turquoise;
    color: black;
}

.dropdown a.dropdownbtn{
    display: inline-block;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.dropdown div{
    position: absolute;
    display: none;
}

.dropdown div a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 2px solid turquoise;
    background-color: black;
    width: 100%;
    
}

.dropdown div a:hover{
    background-color: turquoise;
    color: black;
}

.dropdown:hover div{
    display: block;
}

div#Us{
    position: absolute;
    color: white;
}